<StackLayout>
  <SearchBar #sb id="searchbar" hint="Search" (loaded)="searchBarLoaded($event)" (textChange)="searchBarChanged(sb.text)"></SearchBar>
  <ListView [items]="movies" (loadMoreItems)="listViewLoadMoreItems()" >
      <template let-item="item" let-odd="odd" let-even="even">
          <StackLayout [class.odd]="odd" [class.even]="even" (tap)="goToDetail(item.id); false">
              <Label [text]='item.title' class="movieTitle"></Label>
              <Label [text]="item.releaseYear + ' - ' + item.category + ' - ' + item.runningTime" class="movieDetail"></Label>
          </StackLayout>
      </template>
  </ListView>
</StackLayout>